$border-color: #ccc;
$border-color-hover: #666;
$botton-avtive-bg: #ccc;
$button-bg: #fff;
$disabled-bg: #ddd;
$disabled-color: #999;
$bgColor: #fff ;
$active-color: #64a1ee;
$tosat-bg: rgba(41, 38, 38, 0.637);
$tip-color: rgb(118, 175, 80);
$error-color: rgb(197, 75, 38);
$box-shadow-color: rgba(0, 0, 0, 0.3);

$border-radius: .3rem;

$font-size: 14px;
$tabs-font-size: 16px;

$button-height: 30px;
$col-height: 50px;
$input-height: 32px;
$tabs-height: 40px;

